<form [formGroup]="typeForm" novalidate (ngSubmit)="onSubmit()">
  <app-default-page titre="Type de congés">
    <ng-container>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nom" formControlName="nom">
            @if (typeForm.controls['nom'].hasError('required')) {
              <mat-error>
                La date de début est <strong>obligatoire</strong>
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="dateDebutPicker" placeholder="Date de début" formControlName="dateDebut">
            <mat-datepicker-toggle matSuffix [for]="dateDebutPicker"></mat-datepicker-toggle>
            <mat-datepicker #dateDebutPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="dateFinPicker" placeholder="Date de fin" formControlName="dateFin">
            <mat-datepicker-toggle matSuffix [for]="dateFinPicker"></mat-datepicker-toggle>
            <mat-datepicker #dateFinPicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre de jours" formControlName="nombreJours">
            @if (typeForm.controls['nombreJours'].hasError('required')) {
              <mat-error>
                Le nombre de jours est <strong>obligatoire</strong>
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-slide-toggle formControlName="anticipable">Prise en anticipé possible</mat-slide-toggle>
        </div>
      </div>
    </ng-container>
    <ng-container actions>
      <button mat-raised-button color="primary" type="submit">Valider</button>
      @if (modeEdition) {
        <button mat-raised-button color="warn" type="button" (click)="onDelete()">Supprimer</button>
      }
      @if (!modeEdition) {
        <button mat-raised-button color="warn" type="button" (click)="close()">Annuler</button>
      }
    </ng-container>
  </app-default-page>
</form>