<button mat-fab aria-label="Ajouter" class="fabButton" [routerLink]="['/types/new']">
  <mat-icon>add</mat-icon>
</button>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="listeTypes$">
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let type"> {{ type.nom }} </td>
    </ng-container>

    <ng-container matColumnDef="dateDebut">
      <th mat-header-cell *matHeaderCellDef>Date début</th>
      <td mat-cell *matCellDef="let type"> {{ type.dateDebut | date:'longDate' }} </td>
    </ng-container>

    <ng-container matColumnDef="dateFin">
      <th mat-header-cell *matHeaderCellDef>Date fin</th>
      <td mat-cell *matCellDef="let type"> {{ type.dateFin | date:'longDate' }} </td>
    </ng-container>

    <ng-container matColumnDef="nombreJours">
      <th mat-header-cell *matHeaderCellDef>Nombre de jours</th>
      <td mat-cell *matCellDef="let type"> {{ type.nombreJours }} </td>
    </ng-container>

    <ng-container matColumnDef="joursRestants">
      <th mat-header-cell *matHeaderCellDef>Jours restants</th>
      <td mat-cell *matCellDef="let type"> {{ type.nombreJours - type.joursPoses }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let type">
        <button mat-icon-button [routerLink]="['/types/edit', type.key]">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [ngClass]="{'terminee': row.joursPoses == row.nombreJours, 'incorrecte': row.joursPoses > row.nombreJours }">
    </tr>
  </table>
</div>