mat-card-header {
    display: flex;
    justify-content: space-between;
}

mat-card-actions {
    margin-top: 1em;
    margin-bottom: 1em;
    ::ng-deep button:not(:first-child) {
        margin-left: 10px;
    }
}