@use '@angular/material'as mat;

.full-width-table {
  width: 100%;
}

.fabButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.prev {
  background-color: mat.get-color-from-palette(mat.$teal-palette, 100);
}