@use '@angular/material' as mat;

$my-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

.full-width-table {
  width: 100%;
}

.fabButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.prev {
  background-color: mat.get-color-from-palette($my-accent, 100);
}