<button mat-fab aria-label="Ajouter" class="fabButton" [routerLink]="['/conges/new']">
  <mat-icon>add</mat-icon>
</button>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="listeConges">
    <ng-container matColumnDef="dateDebut">
      <th mat-header-cell *matHeaderCellDef>Date début</th>
      <td mat-cell *matCellDef="let conges"> {{ conges.dateDebut | date:'longDate' }} </td>
    </ng-container>

    <ng-container matColumnDef="dateFin">
      <th mat-header-cell *matHeaderCellDef>Date fin</th>
      <td mat-cell *matCellDef="let conges"> {{ conges.dateFin | date:'longDate' }} </td>
    </ng-container>

    <ng-container matColumnDef="joursPris">
      <th mat-header-cell *matHeaderCellDef>Jours pris</th>
      <td mat-cell *matCellDef="let conges"> {{ conges.totalJours }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let conges">
        <button mat-icon-button [routerLink]="['/conges/edit', conges.key]">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'prev': row.previsionnel }"></tr>
  </table>
</div>
